:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
}

body {
  background: var(--background);
}

#logo {
  float: left;
  width: 4%;
  padding: 0.5px;
}

#btn-list {
  color: var(--text-description);
  line-height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-btn-pesquisar {
  float: right;

  display: flexbox;
  position: relative;
  right: 110px;
  top: 5px;
}

.btn-pesquisar {
  background-color: white;
  float: right;

  display: flexbox;
  position: relative;
  right: -110px;
  top: 5px;
}

#btn-bag {
  float: right;
  width: 2%;
  padding: 0.2px;
}

.btn-comprar {
  background-color: red;

  color: white;
  font-size: 2rem;
}
